<h1>Register for a New Station</h1>

<%= form_with(model: [@competition, @station_registration], url: user_competition_station_registrations_path(@competition), local: true) do |form| %>
  <% if @station_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station_registration.errors.count, "error") %> prevented this registration from being saved:</h2>
      <ul>
      <% @station_registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.collection_select :station_id, @stations, :id, :name, {selected: @selected_station_id, prompt: "Select a Station"} %>
  <%= form.number_field :start_number, placeholder: "Start Number", autofocus: true %>

  <div class="actions">
    <%= form.submit "Register" %>
  </div>
<% end %>

<%= link_to 'Back', user_competitions_path %>