<%= form_with(model: @registration, local: true) do |form| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :driver_id %>
    <%= form.number_field :driver_id %>
  </div>

  <div class="field">
    <%= form.label :station_id %>
    <%= form.collection_select :station_id, @stations, :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :passed_at %>
    <%= form.datetime_select :passed_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', registrations_path %>
