<%= form_with(model: [:admin, competition], local: true) do |form| %>
  <% if competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_time %><br>
    <%= form.datetime_local_field :start_time %>
  </div>

  <div class="field">
    <%= form.label :competition_type %><br>
    <%= form.text_field :competition_type %>
  </div>

  <div class="field">
    <%= form.label :max_number_of_drivers %><br>
    <%= form.number_field :max_number_of_drivers %>
  </div>

  <h3>Competition Classes</h3>
  <div id="competition_classes">
    <%= form.fields_for :competition_classes do |cc_form| %>
      <div class="field">
        <% if cc_form.object.new_record? %>
          <%= cc_form.label :name %>
          <%= cc_form.text_field :name %>
        <% else %>
          <%= cc_form.hidden_field :_destroy %>
          <%= cc_form.label :name %>
          <%= cc_form.text_field :name %>
          <%= link_to "Remove", '#', class: "remove_fields" %>
        <% end %>
      </div>
    <% end %>
    <%= link_to "Add Class", '#', class: "add_fields", data: {id: "competition_classes", fields: form.fields_for(:competition_classes, CompetitionClass.new, child_index: "new_row") { |cc| render("competition_class_fields", cc_form: cc) }.gsub("\n", "")} %>
  </div>


  <div class="field">
    <%= form.label :is_open_for_sign_up, 'Open for registration?' %><br>
    <%= form.check_box :is_open_for_sign_up %>
  </div>

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', admin_competitions_path %>